:root {
    --pink: #E51177;
    --pink-dark: #DD0F73;
    --burgundy: #55062C;
}

/* Global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #af7290b2; /* soft blush */
}

/* Header */
header {
    background-color: var(--pink);
    color: white;
    padding: 2rem;
    text-align: center;
}

/* Main */
main {
    padding: 1.5rem;
}

/* Links */
a {
    color: var(--pink-dark);
    text-decoration: none;
}

a:hover {
    color: var(--pink);
}

/* Footer */
footer {
    background-color: var(--burgundy);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}
/* Paragraphs */
p {
    color:#55062C;
    font-weight: bold;
}

/* Headings */
h2 {
    margin: auto;
    color: var(--pink-dark);
    font-size: xx-large ;
    font-family:ui-sans-serif;
}

/* Centering utility */
.center {
    text-align: center;
}

main section img {
    display: block;
    margin: 0 auto;
}

/* First hobby styling */
section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #hobbies ul{
        list-style-position: inside;
        padding: 0;
        color:#55062C;
        font-weight: bold;
    }

/* Images */
section#gallery {
    max-width: 100%;
    height: auto;
}

    /* Figures */
    #gallery figure {
        text-align: center;
        border: 8px solid var(--burgundy);
        padding: 1px;
        margin: 25px auto;
        max-width: fit-content;
    }
    /* Figure captions */
    #gallery figure figcaption{
        font-style: italic;
        color: var(--burgundy);
        font-weight: bold;
    }


/* Article block */
section#article {
    background-color: var(--pink);
    padding: 1rem;
    border-radius: 1px;
    margin-bottom: 1.5rem;
    line-height: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
}

    /* Article text + heading */
    #article div {
        margin-bottom: 1rem;
        color: white;
        margin-top: 1rem;
    }

    #article h2 {
        color: white;
    }

/*responsive design*/
@media screen and (min-width: 60em){
    #gallery figure {
        display: grid;
        grid-template-columns: 2fr, 1fr;
        
    }
    #gallery figure figcaption{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem; 
        margin-left: 1rem;
    }

}

/*large screens*/
@media screen and (min-width: 100em)
{
    #gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }

    hr{
        display: none;
    }
    #gallery h2{
        grid-column : 1/-1;
    }
    figure{
        display:block;
    }
    
}

/* article text */
#article div{
    max-width: 100rem;
    columns:20em
}

/*contact Form*/

    #formElements{
        display:grid;
    }